*{
  font-family: "Inter", serif;
}
.navbar{
  z-index: 99;
}
.blue{
  color: #1F588D;
}
.logo{
  height: 10vw;
}
.desc{
  margin-top: 0.5vw;
  font-size: 14px;
  font-weight: 500; 
}
.carousel{
  height: 40vw;
  z-index: 0;
}
.img_carousel{
  width: 100%;
}
h1{
  font-family: "Inter", serif;
  font-weight: 800; 
  font-style: normal;
  font-size: 32px;
}