*{
  font-family: "Inter", serif;
}
.navbar{
  z-index: 99;
}
.blue{
  color: #1F588D;
}
.logo{
  height: 10vw;
}
.desc{
  margin-top: 0.5vw;
  font-size: 14px;
  font-weight: 500; 
}
.carousel{
  height: 40vw;
  z-index: 0;
}
.img_carousel{
  width: 100%;
}
h1{
  font-family: "Inter", serif;
  font-weight: 800; 
  font-style: normal;
  font-size: 32px;
}
.custom-next,
.custom-prev {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
  color: white;
  font-size: 24px;
  font-weight: bold;
  cursor: pointer;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

.custom-next {
  right: 10px;
}

.custom-prev {
  left: 10px;
}

.custom-next:hover,
.custom-prev:hover {
  background-color: black;
  color: white;
}
